---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import LandingCard from "./SectionEntry.astro";

const work_experiences: Array<{time: string, title: string, subtitle?: string, description: string, link?: string}> = [
  {
    time: "Jul 2025 - Dec 2025",
    title: "Automation/Controls Engineer Intern",
    subtitle: "Ormco",
    description: `Curated and designed an exhibition highlighting the evolution of Swiss modernism in graphic design, showcasing iconic works and their influence on contemporary design.`,
  },
  {
    time: "Jun 2024 - Sep 2024",
    title: "Research Fellow",
    subtitle: "Digital Learning Lab, UC Irvine",
    description: "Researched and developed culturally-accessible improvements to elementary computer education.",
  },
  {
    time: "Jun 2022 - Aug 2022",
    title: "Computer Science Teaching Assistant",
    subtitle: "Girls Who Code",
    description: "Co-taught class of 60+ students basic web development while closely mentoring groups of ~12 advisees."
  }
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 md:grid-cols-3 border-b py-8 border-base-200 dark:border-base-800"
    >
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <Text tag="h2" variant="textSM" class="text-base-900 dark:text-white lg:pt-2">
          Work Experience
        </Text>
      </div>
      <div class="flex flex-col gap-12 lg:col-span-2">
        {
          work_experiences.map((work, index) => (
            <LandingCard
              time={work.time}
              title={work.title}
              subtitle={work.subtitle}
              description={work.description}
              link={work.link}
            />
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
